<div class="container">
  <h1 class="text-center"> Поиск </h1>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" value="<%=@query%>" id="searchQuery" name="q"aria-describedby="emailHelp" placeholder="Впишите что-нибудь для поиска" required>
      <button type="submit" class="btn-outline-primary mx-auto" style="display:block; width: 200px; margin-top: 20px;">Найти</button>
    </div>
  </form>
  <%= render 'articles' %>
</div>